@font-face
{
	font-family: 'Droid Serif';
	font-style: italic;
	font-weight: normal;
	src: local('Droid Serif Italic'), local('DroidSerif-Italic'), url('DroidSerif-Italic.ttf') format('truetype');
}
@font-face
{
	font-family: 'Droid Serif';
	font-style: italic;
	font-weight: bold;
	src: local('Droid Serif Bold Italic'), local('DroidSerif-BoldItalic'), url('DroidSerif-BoldItalic.ttf') format('truetype');
}
@font-face
{
	font-family: 'Droid Serif';
	font-style: normal;
	font-weight: bold;
	src: local('Droid Serif Bold'), local('DroidSerif-Bold'), url('DroidSerif-Bold.ttf') format('truetype');
}
@font-face
{
	font-family: 'Droid Serif';
	font-style: normal;
	font-weight: normal;
	src: local('Droid Serif'), local('DroidSerif'), url('DroidSerif.ttf') format('truetype');
}
