@model megazlo.Models.RestorePass
@*@{
	SquishIt.Css.Add("~/Content/redmond/jquery-ui-1.8.16.custom.css");
	SquishIt.JavaScript.Add("~/Scripts/jquery.validate.unobtrusive.min.js");
	SquishIt.JavaScript.Add("~/Scripts/jquery.validate.min.js");
	SquishIt.JavaScript.Add("~/Scripts/jquery-ui-1.8.16.custom.min.js");
	SquishIt.JavaScript.Add("~/Scripts/Ajax/Account.js");
}*@
<div id="dialogResult" title="Востановление">
	<p id="restoreRez" style="font-size: 16px;">
	</p>
</div>
@using (Ajax.BeginForm("RestorePassword", new AjaxOptions())) {
	<fieldset>
		<legend>Востановление пароля</legend>
		<div class="editor-label">
			@Html.LabelFor(m => m.Name)
		</div>
		<div class="editor-field">
			@Html.EditorFor(m => m.Name)
			@Html.ValidationMessageFor(m => m.Name)
		</div>
		<br />
		@Html.ValidationSummary(true)
	</fieldset>
	<p>
		<input id="btRestPwd" type="submit" value="Отправить" />
	</p>
}