@model megazlo.Models.Comment
<li id="li-comment-@Model.Id" class="comment even thread-even depth-1">
	<div id="comment-@Model.Id">
		<div class="line">
		</div>
		<img class="avatar avatar-35 photo" width="35" height="35" src="@Url.Content("~/Content/styles/images/usr_logo.jpg")" alt="" />
		<div class="comment-author vcard">
			<cite class="fn"><a class="url" rel="external nofollow" 
									href="#comment-@Model.Id">@Model.FirstName</a>
			</cite><span class="says">says:</span>
		</div>
		<div class="comment-meta commentmetadata">
			<a href="#comment-@Model.Id">@Model.DatePost.ToString()</a>
		</div>
		<div class="comment-body">
			@Model.Text
		</div>
		<br />
	</div>
</li>
