@model IEnumerable<megazlo.Models.Category>
@using megazlo.Code
@Html.PageInfo(new { title = "Категории", value = Url.Action("CategoryList", "Admin") })
<script src="@Url.Content("~/Scripts/Ajax/AdminCat.js")" type="text/javascript"></script>
<fieldset class="for_forms">
	<legend>Список категорий</legend>
	<table id="tab-cat">
		@foreach (var item in Model) {
			@Html.Partial("CategoryRow", item)
	}
	</table>
	<a class="edit_cat" href="@Url.Action("CategoryForm")">Создать категорию</a>
</fieldset>
<div id="new-cat-dail" title="Категория" style="display: none;">
</div>
