@model IEnumerable<megazlo.Models.Tag>
@using megazlo.Code
@Html.PageInfo(new { title = "Теги", value = Url.Action("TagList", "Admin") })
<script src="@Url.Content("~/Scripts/Ajax/AdminCat.js")" type="text/javascript"></script>
<fieldset class="for_forms">
	<legend>Список тегов</legend>
	<table id="tab-cat">
		@foreach (var item in Model) {
			@Html.Partial("TagRow", item)
	}
	</table>
	<a class="edit_cat" href="@Url.Action("TagForm")" ent="Tag">Создать тег</a>
</fieldset>
<div id="new-cat-dail" title="Тег" style="display: none;">
</div>
